.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.td-data{
  padding: 5px;
  text-align: left;
  border: 1px solid black;
  font-size: 18px;
}
.data-row{
  background-color: rgb(215, 216, 215);
  border: 1px solid black;
}
.data-row:hover{
  background-color: rgb(254, 254, 254);
}
th{
  border: 1px solid gray;
  min-width: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
